body {
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    text-decoration: none;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    margin-left: -100px;
}

.list {
    margin-left: -25px;
}

.categories {
    display: inline;
    padding: 10px;
    border: 1px;
    border-style: none;
    border-color: black;
    border-radius: 5px;
}

.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: row;
    gap: 6px;
}

#search {
    height: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.signup {
    display: flex;
    gap: 6px;
    width: 84px;
    height: 40px;
    left: 1249px;
    top: 7px;
    background: #074EE8;
    border-radius: 4px;
    border-style: solid;
    border-color: #074EE8;
    color: white;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    width: 71px;
    height: 40px;
    left: 1347px;
    top: 7px;
    background: #FFFFFF;
    border: 2px solid #074EE8;
    border-radius: 4px;
    color: #074EE8;
    margin-right: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.wi {
    font-size: 36px;
}

#forecast-font {
    width: 673px;
    height: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 0;
    margin-left: -30px;
    flex-grow: 0;
}

.temperature {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 25px 200px 100px 0px;
    margin-left: -35px; 
    gap: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 500px;
    height: 35px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.today-temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    width: 500px;
    height: 35px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.weather-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 689px;
    height: 70px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#weather {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px 40px;
    gap: 10px;
    width: 753px;
    height: 202px;
    border: 1px;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.today-weatherbox {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    width: 576px;
    height: 274px;
    left: 850px;
    top: 70px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
} 

.weather-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.weather-box,
.today-weatherbox {
    display: inline-block;
    width: 850px; 
    height: 300px; 
    box-sizing: border-box; 
    padding: 25px; 
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 80px;
}

.news-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 90px;
}

.news-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 500px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid #0c0b0b;
    text-align: center;
    border-radius: 5px;
    
}

.news-article{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.article-image {
    display: flex;
    width: auto;
    height: 12vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    object-fit: cover;
}

#article-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

#article-author {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#article-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 290;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
.news-column {
    width: 100%;
}
}

@media screen and (max-width: 768px) {
.weather-box,
.today-weatherbox {
    display: block;
    width: 100%;
}
}
