.name {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    white-space: nowrap;
    
}
#first {
    width: 50px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* or 112% */

    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#preferences {
    position: absolute;
    width: 42px;
    height: 60px;
    left: 389px;
    top: -3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    display: flex;
    align-items: center;

    color: #000000;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    
}

#news-heading {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    /* or 64% */

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000000;

}

#news-subheading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

.pad-left{
    padding-right: 100px;
}

.news-row {
    display: flex;
    justify-content: space-between;
    gap: 200px;

}

.card {
    border: 2px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}