{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<title>NewsFeed</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/query.css' %}">
	
<div class="name">
	<h2 id="news-heading">Search Query</h2>
</div>
<div class="container">
	<div class="news-row">
		<div class="col-md-4">
			<div class="card" id="news-subheading">
				<div class="card-body">
					<h4 class="card-title">News 1</h4>
					<p class="author-text">By Author McAuthorFace</p>
					<p class="card-text"> Lorem ipsum dolor sit amet </p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" id="news-subheading">
				<div class="card-body">
					<h4 class="card-title">News 2</h4>
					<p class="author-text">By Author McAuthorFace</p>
					<p class="card-text"> Lorem ipsum dolor sit amet </p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card" id="news-subheading">
				<div class="card-body">
					<h4 class="card-title">News 3</h4>
					<p class="author-text">By Author McAuthorFace</p>
					<p class="card-text"> Lorem ipsum dolor sit amet </p>
				</div>
			</div>
		</div>	  
	</div>
</div>
{% endblock %}
        