{% extends 'user/base.html' %}
{% load static %}

{% block content %}

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NewsFeed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-LMFxM7bdzDvH1/zEFL1f3BnFhLsfuvQcLQ6XfvU3qg0WW0ZT6QymTmWyRkLgJw6F/m0vIbnli7XpupAHPttBzA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	
	

	<div class="weather-container">
			<div class="weather-box">
				<div id="weather">
					<h2 id="forecast-font">7 Day Forecast - Location: New York, NY</h2>
					<div class="weather-icon">
	
					</div>
					<div class="temperature">
						<p>80°F/45°F</p>
						<p>75°F/50°F</p>
						<p>82°F/47°F</p>
						<p>70°F/42°F</p>
						<p>75°F/44°F</p>
						<p>79°F/43°F</p>
						<p>81°F/46°F</p>
					</div>
				</div>
			
		</div>
		
			<div class="today-weatherbox">
				<div id="weather">
					<h2 id="forecast-font">Today's Weather</h2>

				<div class="weather-icon">
						
	
				</div>
				<div class="today-temperature">
					<p>80°F/45°F</p>  
				</div>
				</div>
			</div>	
	</div>
		
		

	<div class="news-container">
		<div class="news-column">
			<div class="news-article">
			<h3 id="article-title">World Cup 2022</h3>
			<h5 id="article-author">By: John Doe</h5>
			<p id="article-content">When Alexis Mac Allister returned to his day job, he was greeted by a standing ovation, an Argentine flag and a set of strategically placed cannons that showered him with blue, white and gold glitter. His Premier League team, Brighton, had even gone to the trouble of commissioning a scale-model replica of the World Cup trophy for him to lift. Few of Mac Allister’s teammates on the Argentina squad that became world champions three months ago experienced such a lavish welcome when they returned to their clubs, but most were treated to some sort of celebration, a heartfelt recognition of their achievement. Defender Lisandro Martínez was applauded onto the field at Manchester United. The reserve goalkeeper Franco Armani has received at least one commemorative jersey from his opponents. The midfielder Exequiel Palacios spent a portion of his first day back at Bayer Leverkusen signing autographs for his co-workers.</p>
			</div>
			
		</div>
		<div class="news-column">
			<div class="news-article">
			<h3 id="article-title">Random Article</h3>
			<h5 id="article-author">By: Jane Doe</h5>
			<p id="article-content">Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
			</div>
		</div>
		</div>
	</div>
{% endblock %}