{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<head>
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

	<div class="weather-container">
			<div class="weather-box">
				<div id="weather">
					<h2 id="forecast-font">7 Day Forecast - Location: New York, NY</h2>
					<div class="weather-icon">
	
					</div>
					<div class="temperature">
						<p>80°F/45°F</p>
						<p>75°F/50°F</p>
						<p>82°F/47°F</p>
						<p>70°F/42°F</p>
						<p>75°F/44°F</p>
						<p>79°F/43°F</p>
						<p>81°F/46°F</p>
					</div>
				</div>
		</div>
	</div>		  

	<div class="news-container">
		{% for title, description, url, author, date, image in all_news %}
			<div class="news-column">
				<div class="news-article">
					<img class="article-image" src= "{{ image }}">
					<a href="{{ url }}">
						<h3 id="article-title">{{title}}</h3>
					</a>
					<p id="article-content">{{description}}</p>
				</div>
			</div>
			{% endfor %}
	</div>
{% endblock %}
